<h1 ng-style="{ color: 'red' }">Task Input</h1>
<div class="container">
  <div class="todo-list">
    <div class="input-group">
      <label>Title</label>
      <br />
      <input type="text" placeholder="Task Title..." #taskTitle required />
      <label>Description</label>
      <input
        type="text"
        placeholder="Task Description..."
        #taskDescription
        required
      />
      <label>Date</label>
      <br />
      <input type="date" placeholder="Todo" #taskDate required />
      <br />
      <mat-slide-toggle #taskReminder>Set Reminder</mat-slide-toggle>
      <button
        class="add-button"
        (click)="
          this.OnSubmit(taskTitle, taskDescription, taskDate, taskReminder)
        "
      >
        Add Task
      </button>
    </div>
  </div>
</div>
