<h1 ng-style="{ color: 'red' }">Task Input</h1>
<div class="container">
  <div class="todo-list">
    <div class="input-group">
      <label>Title</label>
      <br />
      <input type="text" placeholder="Task Title..." [value]="this.title" />
      <label>Description</label>
      <input
        type="text"
        placeholder="Task Description..."
        [value]="this.description"
      />
      <label>Date</label>
      <br />
      <input type="date" placeholder="Todo" [value]="this.date" />
      <br />
      <button class="add-button" (click)="this.OnSubmit()">Add Task</button>
    </div>
  </div>
</div>
