.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 300px;
  border-radius: 30px;
  background-color: rgb(219, 219, 219);
  padding: 30px;
}

table {
  width: 100%;
  & > tr {
    width: 100%;
    display: inline;
  }
}

.input-group {
  [type="text"] {
    width: 90%;
  }
  .add-button {
    background-color: rgb(58, 58, 58);
    color: white;
    width: 10%;
    height: 100%;
    cursor: pointer;
    border: none;
    padding: 0;
    &:hover {
      background-color: rgb(34, 34, 34);
    }
  }
}
