li {
  list-style-type: none;
  margin-top: 0.34em;
}

p {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
}

.reminded {
  background-color: rgb(61, 61, 61);
  color: whitesmoke;
  outline: none;

  p {
    color: rgb(201, 201, 201);
  }

  &:hover {
    background-color: rgb(24, 24, 24);
    outline: none;
  }
}

button {
  padding: 1em 2.4em;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0.8em;
  transition: all 0.3s;
  outline: solid 3px rgb(61, 61, 61);
  outline-offset: -3px;
  text-align: left;

  &:hover {
    background-color: rgb(201, 201, 201);
    outline: solid 3px rgba(61, 61, 61, 0);
  }
  * {
  }
}
